# Specific directory ignores

.git/
.idea/
Help_sources/
Help_sources_version_2/
TCP_socket/

# Specific extension ignores

*.yml
*.md
*.pyc
*.stackdump

# Specific file ignores

.gitignore
.dockerignore
.travis.yml
Dockerfile
ParalellParkOnRightSide.py
RearParkOnRigthSide.py
SerialHandler.py
test.py
